@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}
<div class="container-fluid h-100">
    <div class="row justify-content-center h-100 align-items-center p-4">
        <div class="col-md-5">
            <div class="form-input-content text-center">
                <div class="mb-5">
                    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Back to Home</a>
                </div>
                <h1 class="error-text  font-weight-bold">403</h1>
                <h4 class="mt-4"><i class="fa fa-times-circle text-danger"></i> Forbidden Error!</h4>
                <p>You do not have permission to view this resource.</p>
            </div>
        </div>
    </div>
</div>