<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>@ViewBag.Title</title>

	<link href="~/lib/i_web/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
	<link href="~/lib/i_web/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="page1">

        <div class="hsection1">

            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light ">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#"><img src="./images/Logo.png" height="100px" alt="FineArt Logo"></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item ">
                                    <a class="nav-link active " aria-current="page" href="#">Home</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link active " aria-current="page" href="#">About</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link active " aria-current="page" href="#">Contact</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link active " aria-current="page" href="#">Registration</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link active " aria-current="page" href="#">Terms & condition</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </nav>
                <div class="row">
                    <div class="col-md-12">
                        <h1>International</h1>
                        <h2>ART CONTEST</h2>
                        <h5>World's Most Trustworthy And Fair International Art Contest.</h5>
                        <h6>
                            Organized By IOA Company (ISO 9001:2015 CERTIFIED)
                        </h6>
                        <button class="hbtn">PARTICIPATE NOW</button>
                    </div>
                </div>
            </div>
        </div>

        @RenderBody()
    </div>


	<script src="~/lib/i_web/jquery/jquery.min.js"></script>
	<script src="~/lib/i_web/bootstrap/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
