@{
	Layout = "_SignupLayout";
}
<div class="row no-gutters">
    <div class="col-xl-12">
        <div class="auth-form">
            <h2 class="text-center">Waiting for Approval...</h2><hr />
            <strong><p>When a manager initiates a process or request, it enters a state of 'waiting for approval.' During this phase, the manager has completed their part, and the system is designed to ensure an additional layer of review and authorization by an administrator. The request or action remains pending until the administrator evaluates and approves it, ensuring that critical decisions receive the necessary scrutiny and validation from higher authority before proceeding further in the workflow</p></strong>
            <div class="containerSpinner">
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
                <div class="item"></div>
            </div>
        </div>
    </div>
</div>
