@model FineArt.Models.Competition;
@{
    ViewData["Title"] = "Add Competition";
    Layout = "_AdminLayout";
}
<div class="loading loading-hidden"></div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Add Competition</h4>
            </div>
            <div class="card-body">
                    <div class="basic-form">
                        <form id="AddComprtitionForm" asp-controller="Admin" asp-action="AddCompetition">
                            <div class="form-group">
                                <label asp-for="CompetitionTitle" class="col-form-label mr-2"></label><span class="text-danger">*</span>
                                <input asp-for="CompetitionTitle" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="AwardId"></label>
                                <select class="single-select-placeholder js-states" asp-for="AwardId" asp-items="ViewBag.AwardId"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="StartDate" class="col-form-label mr-2"></label><span class="text-danger">*</span>
                                <input asp-for="StartDate" id="startDate" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="EndDate" class="col-form-label mr-2"></label><span class="text-danger">*</span>
                                <input asp-for="EndDate" id="endDate" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Conditions" class="col-form-label mr-2"></label><span class="text-danger">*</span>
                                <input asp-for="Conditions" class="form-control" />
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
